<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Sky space</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="app.css">
    <title>Sky space</title>
</head>

<body style=" background-color: #CAC6EBFF ">
    	<div class="container-fluid" >
    <div  id="app" >
    	      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #BAB6E9;">
            <a class="navbar-brand" href="#">Sky space</a>
        </nav>
        <br>
        <div class="col-md-4">
            <div class="form-group">
                <label for="search"><h5>Введите номер рейса:</h5></label>
                <input type="text"
                class="form-control"
                id="search"
                placeholder="Номер рейса"
				v-model="searchString">
			<ul>
        <li v-for="article in filteredArticles">
            	№ рейса: {{article.FsCode}}<br>
            	Отправление: {{article.departureAirportFsCode}}<br>
            	Время отправления: {{article.departureTime}}<br>
            	Прибытие: {{article.arrivalAirportFsCode}}<br>
				Время прибытия: {{article.arrivalTime}}<br>
				Статус: {{article.status}}
        </li>
    </ul>
            </div>
            <hr>
            <ul class="list-group">
	            <li v-for="(men, index) of name_menu"
	            class="list-group-item list-group-item-action pointer"
				v-on:click="selectMen(index)"
				:class="{'active': SelectedAirIndex === index}"
	            >{{men}}
	            </li>
            </ul>
        </div>
    <h1>
        <center>
            <p class="h1">Табло рейсов:</p>
        </center>
    </h1><div>
            <div>
			    <table class="table table-bordered table-striped table-sm">
			        <thead>
			            <tr style="background-color: #C4E6FB;">
			                <th style="width: 100px; vertical-align: middle;">
			                    <center>№ рейса</center>
			                </th>
			                <th style="width: 100px; vertical-align: middle;">
			                    <center>Отправление</center>
			                </th>
			                <th style="width: 100px; vertical-align: middle; ">
			                    <center>Время отправления</center>
			                </th>
			                <th style="width: 100px; vertical-align: middle; ">
			                    <center>Прибытие</center>
			                </th>
			                <th style="width: 100px; vertical-align: middle;">
			                    <center>Время прибытия</center>
			                </th>
			                <th style="width: 100px; vertical-align: middle;">
			                    <center>Статус</center>
			                </th>
			            </tr>
			        </thead>
			        <tbody  class="table-info"  >
			            <tr
			            v-for="air of airs"
			            class="active">
			                <th scope="row">
			                    <center>
			                        <p>{{air.FsCode}}</p>
			                    </center>
			                </th>
			                <td>
			                    <center>
			                        <p>{{air.departureAirportFsCode}}</p>
			                    </center>
			                </td>
			                <td>
			                    <center>
			                        <p>{{air.departureTime}}</p>
			                    </center>
			                </td>
			                <td>
			                    <center>
			                        <p>{{air.arrivalAirportFsCode}}</p>
			                    </center>
			                </td>
			                <td>
			                    <center>
			                        <p>{{air.arrivalTime}}</p>
			                    </center>
			                </td>
			                <td>
			                    <center>
			                        <p>{{air.status}}</p>
			                    </center>
			                </td>
			            </tr>
			        </tbody>
			    </table>
			</div>
        </div>
    </div>

            </div>


<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="app.js"></script>
  </body>
</html>